:root {
  --bg-primary: #ECE3D3;
  --color-primary: #5A1D0A;
  --color-secondary: #524C1F;
}

body {
  background-color: #ECE3D3;
}

h2 {
  font-size: 4.5vh;
}

.hero-image {
  background-image: url("https://images.unsplash.com/photo-1594007654729-407eedc4be65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2869&q=80");
  background-size: 120%;
  height: 70vh;
  width: 100vw;
  background-position: center;
}

.pizza-bg-primary {
  background-color: #5A1D0A;
  font-family: 'Ubuntu', sans-serif;
  color: #ECE3D3;
}

.pizza-prog {
  background-color: #d2471c;
  color: #ffeaba;
  font-weight: 700;
  padding-left: 1em;
}

.bg-lighter {
  background-color: #ECE3D3;
}

.bg-mediumer {
  background-color: #C09371;
}

.bg-form {
  background-color: rgba(250, 244, 227, 0.729);
  border-radius: 0.4em;
}

.pizza-card {
  color: #3c362a;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px rgba(89, 89, 89, 0.337);
  max-height: 30vh;
}

.card-middle {
  color: #3c362a;
  border-top: 20px solid #ECE3D3;
  border-bottom: 20px solid #ECE3D3;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px rgba(89, 89, 89, 0.337);
}

.graph {
  position: relative;
}

.py-10 {
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}

.img-chef {
  height: 60vh;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px rgba(89, 89, 89, 0.337);
}

.h-chef {
  font-size: 42pt;
  color: #3c362a;
}

.p-pizza {
  font-size: medium;
  color: #474134c3;
}

.pizza-nav {
  border-bottom: 6px solid #511807;
}

@media (min-width:768px) {
  .img-chef {
    height: 60vh;
  }

  .graph {
    position: absolute;
    top: 30%;
    margin-left: 46%;
    box-shadow: 0px 5px 5px rgba(89, 89, 89, 0.337);
  }

  .p-pizza {
    font-size: x-large;
  }
}